In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)
data.head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [9]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [10]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides(tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [4]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget==data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [4]:
data[data.runtime==data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [13]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

In [5]:
data[data.runtime==data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [14]:
answers['4'] = '110'

In [9]:
round(data['runtime'].mean(),0)

110.0

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = '107'

In [10]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = 'Avatar (tt0499549)'

In [11]:
data['profit'] = data.revenue - data.budget
data[data.profit==data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [17]:
answers['7'] = 'The Lone Ranger (tt1210819)'

In [12]:
data['profit'] = data.revenue - data.budget
data[data.profit==data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [18]:
answers['8'] = '1478'

In [14]:
data[data.revenue > data.budget].original_title.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [19]:
answers['9'] = 'The Dark Knight (tt0468569)'

In [24]:
revmax=data[data['release_year']==2008]['revenue'].max()
data[data['revenue']==revmax]['original_title']

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [20]:
answers['10'] = 'The Lone Ranger (tt1210819)'

In [28]:
data['profit'] = data.revenue - data.budget
profmin=data[(data.release_year==2012) | (data.release_year==2013) | (data.release_year==2014)].profit.min()
data[data['profit']==profmin]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [21]:
answers['11'] = 'Drama'

In [29]:
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts().idxmax()

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [22]:
answers['12'] = 'Drama'

In [30]:
data['profit'] = data.revenue - data.budget
pd.Series((data[data['profit'] > 0].genres.str.split('|').sum())).value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [23]:
answers['13'] = 'Peter Jackson'

In [31]:
data.groupby(['director'])['revenue'].sum().idxmax()

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [24]:
answers['14'] = 'Robert Rodriguez'

In [33]:
df = data[data.genres.str.contains('Action')].copy()
a=df.director.value_counts()
a.head(3)

Paul W.S. Anderson    7
Michael Bay           7
Robert Rodriguez      6
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [25]:
answers['15'] = 'Chris Hemsworth'

In [40]:
revenmax=data.loc[data['release_year']==2012]['revenue'].max()
data[data['revenue']==revenmax]['cast']

970    Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...
Name: cast, dtype: object

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [26]:
answers['16'] = 'Matt Damon'

In [41]:
pd.Series(data[data.budget > data.budget.mean()].cast.str.split('|').sum()).value_counts().index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [27]:
answers['17'] = 'Action'

In [44]:
data[(data.cast.str.contains("Nicolas Cage",na=False)) & (data.genres.str.contains("Action",na=False))].genres.count()

17

# 18. Самый убыточный фильм от Paramount Pictures

In [28]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

In [49]:
data['profit'] = data.revenue - data.budget
#data[(data.production_companies.str.contains("Paramount Pictures",na=False)) & (data.original_title.str.contains("K-19: The Widowmaker",na=False))].profit.min()
profmin=data[data.production_companies.str.contains("Paramount Pictures",na=False)].profit.min()
data[data['profit']==profmin]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [29]:
answers['19'] = '2015'

In [53]:
data.loc[data['release_year']==2015]['revenue'].sum()

25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [30]:
answers['20'] = '2014'

In [55]:
data['profit'] = data.revenue - data.budget
data[(data.production_companies.str.contains("Warner Bros",na=False)) & (data.release_year==2014)].profit.sum()

2295464519

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [31]:
answers['21'] = 'Сентябрь'

In [57]:
data["release_date"] = pd.to_datetime(data["release_date"])
data["release_date"].dt.month
data.loc[data['release_date'].dt.month==9][['revenue','cast']].count()

revenue    227
cast       227
dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [32]:
answers['22'] = '450'

In [59]:
a=data.loc[data['release_date'].dt.month==6][['revenue','cast']].count()
b=data.loc[data['release_date'].dt.month==7][['revenue','cast']].count()
c=data.loc[data['release_date'].dt.month==8][['revenue','cast']].count()
d=a+b+c
d

revenue    450
cast       450
dtype: int64

# 23. Для какого режиссера зима – самое продуктивное время года?

In [33]:
answers['23'] = 'Peter Jackson'

In [60]:
data["release_date"] = pd.to_datetime(data["release_date"])
data[(data.release_date.dt.month==1) | (data.release_date.dt.month==2) | (data.release_date.dt.month==12)].director.str.split('|').value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Peter Jackson]                       7
[Clint Eastwood]                      6
[Steven Soderbergh]                   6
[Shawn Levy]                          4
[Nancy Meyers]                        4
                                     ..
[Paul Tibbitt]                        1
[Florian Henckel von Donnersmarck]    1
[Niki Caro]                           1
[Mikael HÃ¥fstrÃ¶m]                   1
[Guy Ferland]                         1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [34]:
answers['24'] = 'Four By Two Productions'

In [61]:
data['title_length'] = data['original_title'].map(lambda x: len(x))
data[(data.title_length == data.title_length.max())].production_companies

1448    Twentieth Century Fox Film Corporation|Four By...
Name: production_companies, dtype: object

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [35]:
answers['25'] = 'Midnight Picture Show'

In [62]:
data['title_length'] = data['overview'].map(lambda x: len(x))
data[(data.title_length == data.title_length.max())].production_companies.str.split('|').value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Lions Gate Films, Lakeshore Entertainment, GreeneStreet Films, Midnight Picture Show]    1
Name: production_companies, dtype: int64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [36]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

In [ ]:
data[data.original_title=='Inside Out'].vote_average
data[data.original_title=='The Dark Knight'].vote_average
data[data.original_title=='12 Years a Slave'].vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [37]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides(tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave'}

In [0]:
# и убедиться что ни чего не пропустил)
len(answers)

In [38]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

In [63]:
data[(data.cast.str.contains("Daniel Radcliffe",na=False)) & (data.cast.str.contains("Rupert Grint",na=False))].count()

imdb_id                 8
budget                  8
revenue                 8
original_title          8
cast                    8
director                8
tagline                 8
overview                8
runtime                 8
genres                  8
production_companies    8
release_date            8
vote_average            8
release_year            8
profit                  8
title_length            8
dtype: int64

In [39]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides(tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}